<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_stuff %}
            

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product' %}">Products</a>
            </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'account' %}">settings</a>
            </li>
            {% endif %}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">Link</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#">Disabled</a>#}
{#            </li>#}
        </ul>
        <div class="d-flex">
            <a href="{% url 'logout' %}" class="text-warning mr-4"><p>logout</p></a>
            <a href="#"><p class="text-danger">{{ request.user }}</p></a>
        </div>
    </div>
</nav>