{% extends 'accounts/main.html' %}
{% block content %}
    {% include 'accounts/status.html' %}

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                    </tr>


                    {% for order in orders %}
                        <tr>
                            <th>{{ order.product }}</th>
                            <th>{{ order.product.category }}</th>
                            <th>{{ order.date_created }}</th>
                            <th>{{ order.status }}</th>
{#                            <th><a href="{% url 'update' order.id%}" class="btn btn-sm btn-success">Update</a></th>#}
{#                            <th><a href="{% url 'delete' order.id %}" class="btn btn-sm btn-danger">Remove</a></th>#}
                        </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>

{% endblock content %}