# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Django\my_django_app_DI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
